@use "../../../src/styles/partials/typography" as *;

.container {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.sticker{
  display:float;
  margin-right:-22rem;  
  margin-top:-40rem;
  z-index:1;
}

.card {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  max-width: 25rem;
  width: 100%;
  text-align: center;
}

.title {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Hiragino Sans GB", "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: #666;
}

.input-group {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  padding-top:1rem;
  padding-bottom: 1.25rem;
  resize: none;

}

input{
  margin-top:1rem;
  margin-bottom:1rem;
}

.input-group label {
  font-family:  "Hiragino Sans GB","Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  display: block;
  font-size:1rem;
  margin-bottom: 0.3rem;
  font-weight: 400;
  width:100%;
  padding-top:1rem;
  padding-bottom:2rem;
  border-bottom: 3px solid black;

}

.input-text {
  color: #cdcdcd;
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  font-style: italic;
  margin-top:1rem;
  margin-bottom:1rem;
}

.input-group input,
.input-group textarea {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  width: 80%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
  resize: none;
  padding-top:1rem;

}

.submit-btn {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.submit-btn:hover {
  font-family: "Helvetica Neue", "Gill Sans MT", Arial, "Trebuchet MS", sans-serif;
  background-color: #0056b3;
}
